body{
    text-align: center;
    border: 1px solid black;
}
.banner {
    display: flex;
    width:100%;
    height: 150px;
    background-color: #1eff29;
    color: black;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.underline {
    text-decoration: underline;
    text-decoration-style:dotted ;
}
.content {
    font-style: italic;
    margin: 20px auto;
}