*{
    font-family: cursive;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    padding: 40px;

}
.card{
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.12);
    width: 350px;
}
.card-header{
    position: relative;
    background-color: #3ef2e4;
    padding: 8px;
    text-align: center;
    border-radius:20px 20px 0 0;
}
.badge{
    position: absolute;
    top: 4px;
    right:6px;
    border-radius: 20px;
    background-color: red;
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding:6px 12px ;
}
.card-body{
    padding: 20px;
}
.highlight{
    color: #2ecc40;
    font-weight: bold;
}
hr{
    background-color: rgba(0, 0, 0, 0.08);
    height: 1px;
}
.button{
    width:80% ;
    padding:14px 0 ;
    font-weight: bold;
    font-size: 20px;
    border-radius: 100px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3dd4f2;
    margin: 30px;
}
.button:hover{
     opacity: 0.9;
}