body{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}
.row{
    font-size: 25px;
    font-weight: bolder;
    position: relative;
    padding-right: 150px;
}
.card{
    width: 500px;
    background-color: #ffffff;
    border-radius: 24px;
    box-shadow:0 0 0 1px #f0f0f0,0 8px 20px rgba(0, 0, 0, 0.03);
    padding: 20px;
}
.bar{
    background-color:#EEEEEE ;
    display: block;
    height: 10px;
    border-radius:20px ;
    overflow: hidden;
}
.progress{
    width:70%;
}
.bar span{
    height: 10px;
    float:left;
    background-color: #1EFF29;
}
.status{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-radius: 999px;
    background-color:#FFE2B3;
    color:#B36B00;
    padding: 10px 18px;
    font-size: 15px;
    font-weight: 900;
}
.field{
    color: rgba(0, 0, 0, 0.6);
}
.content{
    color: rgba(0, 0, 0, 1); 
    font-weight: bold;
}