/*reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box-parent{
    margin: 20px 30px 40px 50px;
    margin-top: 50px;
    background-color: aquamarine;
    width: 500px;
    height: 300px;
    padding: 20px;
    boder: 5px solid yellow;
}
.content{
    color:#fff;
}
.display-inline {

}
.display-block {
}
.display-none {
}
.display-inline-block {
}
.Opacity{
    background-color: red;
    height:30px;
    width: 50px;
    margin: 50px;
    opacity: 0.8;
}
.alpha{
    height: 100px;
    width: 100px;
    background-color: rgba(0,0,0,0.5);
}
.parent{
    height: 400px;
    width: 600px;
    background-color: lightcoral;
    position: relative;
    left:10px;
    top: 20px;
}
.childrent{
    height: 100px;
    width: 100px;
    background-color: lightgreen;
    position:absolute;
    left:10px;
    top: 10px;
}

